<main>
  <div class="container">
    <div class="left">
      <h1>Watch.<br>Learn.<br>Listen.</h1>
      <div class="search">
        <input type="text" placeholder="Find your Rappers">
        <button>Go</button>
      </div>
    </div>
    <div class="right">
      <div class="item" style="background-image: url('/assets/Images/Nepal.jpg')">
        <span class="NameRappers">Nepal</span>
        <span class="Stream">+700k Stream</span>
      </div>
      <div class="item" style="background-image: url('/assets/Images/Orel.jpg')">
        <span class="NameRappers">Orelsan</span>
        <span class="Stream">+4M Stream</span>
      </div>
      <div class="item" style="background-image: url('/assets/Images/Nekfeu.jpg')">
        <span class="NameRappers">Nekfeu</span>
        <span class="Stream">+2.5M Stream</span>
      </div>
    </div>
  </div>
</main>
